body {
  --tab-active-color: #fff;
  --tab-active-background: #333;
  --tab-inactive-color: #333;
  --tab-inactive-background: transparent;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.editor.loading {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 100%;
  height: 100vh;
  animation: pulse 1s linear infinite;
}
.editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-height: 100%;
}
.editor > div[role="tablist"] {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  overflow-x: auto;
  border-bottom: 0.125em solid var(--tab-active-background);
  width: 100%;
}
.editor > div[role="tablist"] > div {
  border-radius: 0.25em 0.25em 0 0;
  padding: 0.25em 0.5em 0;
  margin: 0.25em 0.25em 0 0.25em;
  background: var(--tab-inactive-background);
  color: var(--tab-inactive-color);
  cursor: pointer;
}
.editor > div[role="tablist"] > div + div {
  margin-left: 0.25em;
}
.editor > div[role="tablist"] > div[aria-selected] {
  font-weight: 700;
  background: var(--tab-active-background);
  color: var(--tab-active-color);
}
.editor .cm-editor {
  height: 100%;
}
